{% if teaserOnly %}

    <article class="{{ class }} block"{{ cssID|raw }}{% if style %} style="{{ style }}"{% endif %}>
        <div class="ce_text block">
            <h2>{{ headline }}</h2>
            <div class="teaser">
                {{ teaser|raw }}
                <p class="more">
                    <a href="{{ href }}" title="{{ readMore }}">
                        {{ more }} <span class="invisible">{{ headline }}</span>
                    </a>
                </p>
            </div>
        </div>
    </article>

{% elseif noMarkup %}

    {% for element in elements %}{{ element|raw }}{% endfor %}

{% else %}

    <div class="{{ class }} block"{{ cssID|raw }}{% if style %} style="{{ style }}"{% endif %}>
        <div class="inside">
            {% for element in elements %}{{ element|raw }}{% endfor %}
        </div>
    </div>

{% endif %}
